body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  background-color: #fff5ee;
}

.title {
  color: #b0e0e6;
  font-size: 30px;
  text-align: center;
}
